form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    input[type="text"] {
        width: 70%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
    }
}
