.pop-up-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #2a952a;
    color: white;
    border-radius: 5px;
    box-shadow:
        0 4px 6px rgba(50, 50, 93, 0.11),
        0 1px 3px rgba(0, 0, 0, 0.08);
    opacity: 0;
    transition: 200ms ease;
}
