<main class="home">

    <h1>Welcome to Mister Recipe!</h1>

    <div class="feature-section">
        <div class="feature">
            <img src="https://source.unsplash.com/200x140/?recipes" alt="Feature 1">
            <h2>Discover Delicious Recipes</h2>
            <p>Explore a wide range of mouth-watering recipes that cater to different cuisines, dietary preferences, and
                occasions.</p>
        </div>

        <div class="feature">
            <img src="https://source.unsplash.com/200x140/?cooking-tips" alt="Feature 5">
            <h2>Learn Cooking Tips & Tricks</h2>
            <p>Learn valuable cooking tips and tricks that will help you master the art of cooking and become more
                confident in
                the kitchen.</p>
        </div>

        <div class="feature">
            <img src="https://source.unsplash.com/200x140/?vegetables" alt="Feature 3">
            <h2>Save & Organize Favorites</h2>
            <p>Save your favorite recipes and create personalized recipe collections for quick and easy access.</p>
        </div>
    </div>

    <div class="call-to-action">
        <h2>Ready to Get Cooking?</h2>
        <p>Start your culinary journey with Mister Recipe today and indulge in the joy of preparing and savoring
            delectable dishes.</p>
        <a routerLink="/add-recipe">Explore Recipes</a>
    </div>
</main>