.add-recipe {
    padding: 2em;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: calc(100vh - 9.5em);
    text-align: center;

    h2 {
        font-size: 2.5em;
        color: #1e1e1e;
        font-family: "phudu", sans-serif;
        margin-bottom: 1em;
    }

    input {
        width: 50%;
        margin-right: 1em;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
    }

    button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2.7em;
        width: 4.5em;
        text-align: center;
        text-decoration: none;
        font-weight: 800;
        font-size: 1em;
        text-transform: uppercase;
        color: white;
        border: 0;
        border-radius: 25px;
        margin: 10px;
        padding: 1em 3em;
        background-size: 200% auto;
        color: white;
        box-shadow:
            0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
        text-shadow:
            0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
        background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background-position: right center;
        }
    }

    .recipe-preview {
        &:first-of-type {
            margin-top: 20px;
        }

        border: 1px solid #ccc;
        margin-left: 50%;
        transform: translate(-50%, 0);
        width: 60%;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;

        .info {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .data {
                flex: 1;
                text-align: left;

                h3 {
                    font-size: 1.5em;
                    margin-bottom: 30px;
                }

                button {
                    margin-bottom: 3em;
                    padding: 10px 20px;
                    border: none;
                    width: auto;
                    border-radius: 5px;
                    background-color: #2a952a;
                    background-image: none;
                    transition: background-color 0.2s ease-in-out;
                    color: white;
                    font-size: 1em;
                    text-decoration: none;
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    cursor: pointer;

                    &:hover {
                        background-color: #33b633;
                    }
                }
            }

            img {
                width: 200px;
                height: 200px;
                border-radius: 5px;
            }

            @media (max-width: 767px) {
                flex-direction: column;

                img {
                    margin-top: 20px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .loader {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: linear-gradient(#895cf2, #dcea5b, #ffabf4);
        animation: animate 1.2s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .loader span {
        position: absolute;
        width: 30%;
        height: 30%;
        border-radius: 50%;
        background: linear-gradient(#895cf2, #dcea5b, #895cf2);
    }

    .loader span:nth-child(1) {
        filter: blur(5px);
    }

    .loader span:nth-child(2) {
        filter: blur(10px);
    }

    .loader span:nth-child(3) {
        filter: blur(25px);
    }

    .loader span:nth-child(4) {
        filter: blur(50px);
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        background: #dfe5ee;
        border: solid #dfe5ee 10px;
        border-radius: 50%;
    }

    @media (max-width: 767px) {
        padding: 1em;

        .recipe-preview {
            .info .data {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0px auto 0px auto;
            }
            width: 80%;

            &:first-of-type {
                margin-top: 40px;
            }
        }

        input {
            width: 70%;
            margin-right: 0;
            margin-bottom: 1em;
        }

        button {
            width: 40%;
        }
    }
}
